<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-21T17:25:52Z</date>
	<key>WorkspacePath</key>
	<string>/Users/p.uran/Documents/ios bootcamp/apps/Magic 8 Ball/Magic8Ball/Magic8Ball.xcodeproj</string>
</dict>
</plist>
